@page {
    margin:  5px 5px 5px 5px
}

body {
    writing-mode: vertical-rl
}

.upright-text {
    text-orientation: upright
}

.center-text {
    text-align: center
}

.horizontal-text {
    writing-mode: horizontal-tb
}
